@{
    ViewBag.Title = "Ragnarok > Home";
}

<div class="row">
    <div class="col-12">
        <img alt="Fighting Picture" src="~/Images/HomeImage.jpg" class="textImage" />
        <p>Ragnarok is Dagorhir's famous annual battle event.  For one week each year, the Chapters of Dagorhir from around the country gather
        to face each other on the battlefield, and share in the enjoyment of the hobby and its many aspects.  Whether your desire is to test your
        mettle on the field of battle, share your artistic talents, learn from the experiences of other Dagorhirrim, or socialize your evening away
        by the campfire, these and many other activities can be found throughout the week at Ragnarok.</p>
        <p>When you step into Ragnarok, you leave behind the real world and enter a world where warrior maidens and grizzled veterans fight side by
        side with elves, orcs, ancient Romans, rangers of the wild, undead and anything else you might find in the medieval fantasy genre. Ragnarok
        is a living, breathing celebration of Tolkein's works and the history of the dark ages.</p>
        <p>Ragnarok is the largest and longest running Dagorhir event, where you will find the largest and widest assortment of Dagorhirrim gathered
        together in one place. If you want to stand on a battlefield with hundreds of combatants, Ragnarok is the place for you. If you want to show
        off your latest and finest piece of garb or learn a new sewing technique, Ragnarok is the place for you. If you want to meet people from all
        over the country and build long-lasting friendships, Ragnarok is the place for you.</p>
        <p>Join us at Ragnarok, where you can find triumph and defeat, parades and parties, tournaments and pit fighting, belly dancers, song,
        friendship, fierce battles and more!</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 text-center">
        <a class="btn btn-default" href="/Registration">
            <img class="calloutImage" src="~/Images/callout1.png" />
            <h2>Pre-Register Now</h2>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a class="btn btn-default" href="/Schedule">
            <img class="calloutImage" src="~/Images/callout2.png" />
            <h2>See the Event Schedule</h2>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a class="btn btn-default" href="/Information/MerchantList">
            <img class="calloutImage" src="~/Images/callout3.png" alt="View the Merchants List" />
            <h2>View the Merchants List</h2>
        </a>
    </div>
</div>