
@{
    ViewBag.Title = "Ragnarok > Information > Code of Conduct";
}

<div class="row">
    <div class="col-12">
        <img alt="" src="/Images/tent.jpg" class="textImage" />
        <h1>Camp Master Information</h1>
        <h2>Responsibilities of the Camp Master</h2>
        <p>Each camp at Ragnarok is required to have a person in the camp designated as the Camp Master. &nbsp;The Camp Master has a number of responsibilities, including:</p>
        <ol>
            <li>The Camp Master must provide contact information to the <a href="mailto:troll@dagorhirragnarok.com" class="ApplyClass">Head of Troll</a>.</li>
            <li>The Camp Master must be the first one from their camp to check in to Troll. &nbsp;If the Camp Master has not yet checked in, nobody staying in that camp will be able to check in or set up their camp.</li>
            <li>The Camp Master must participate in <a href="/Information/LandGrabInformation.aspx">Land Grab</a>.</li>
            <li>The Camp Master is responsible for all the members of their camp.</li>
            <li>The Camp Master must be the last one to leave their camp site at the end of the week, and before doing so must check the camp out with Security. &nbsp;If the Camp Master cannot stay until everyone from their camp is off site, they must go to Security Camp and appoint another member of their camp to check the camp out.</li>
            <li>The Camp Master must place a sign at the front of their camp listing the camp name and the Camp Master's name in legible English. &nbsp;The sign can be decorated in any way the camp desires, so long as the required information is legible.</li>
            <li>The Camp Master must attend a meeting at 6PM on Sunday and Wednesday in Security Camp.</li>
            <li>The Camp Master is responsible for policing their camp site and making sure that the fire, if there was one in the camp, is out and that all trash has been picked up before they check out with Security.</li>
            <li>The Camp Master is responsible for providing a basic First Aid kit for the camp, which should include: ace bandage wraps of each size (2-3", 4" and 4-6"), 2 slings/triangle bandages, a bag of gloves of each size, 1 tube of glucose tabs, 2 small flashlights with batteries, 1 CPR mask, 4 bags of 4x4 gauze pads, 1 box of band aids of various sizes, 2 bottles of alcohol hand gel, multiple rolls of gauze wrap of various sizes, 10 2x2 gause pads, a pair of tweezers, 2 bottles of wound wash, and 10 ice packs. &nbsp;Most of these items can be found in the basic First Aid kits you can find at the drug store.</li>
            <li>The Camp Master is responsible for having a fire extinguisher in camp.</li>
        </ol>
        <h2>Checking In at Troll</h2>
        <p>When the Camp Master checks in at Troll, they should bring the following items:</p>
        <ol>
            <li>Photo ID</li>
            <li>Car license plate number</li>
            <li>First Aid kit</li>
            <li>Fire extinguisher</li>
        </ol>
        <p>You will receive an envelope with the Camp Master packet as well as two copies of the survival guide.</p>
    </div>
</div>