
@{
    ViewBag.Title = "Ragnarok > Information > Code of Conduct";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok Code of Conduct</h1>
        <p>Your Security Volunteers are committed to ensuring a fun, safe, and respectful Ragnarok for all attendees. To achieve this all participants must refrain from actions that would limit or threaten another individual&rsquo;s safe enjoyment of the event by another person or societal standards.</p>
        <p>This Code of Conduct applies to <strong>all attendees</strong> of Ragnarok including: participants/attendees, guests, volunteers, and Board Members.</p>
        <h2>Harassment</h2>
        <p>Harassment of <strong>any kind</strong> will <strong>not be tolerated</strong>. &nbsp;If you are informed your behavior is affecting another attendee, <strong>you must stop</strong>. Harassment includes but <strong>is not limited to</strong>:</p>
        <ul>
            <li> offensive verbal comments concerning race; color; sex; national origin; religion; social origin; disability; relationship status; gender identity; physical appearance or body size</li>
            <li>deliberate intimidation</li>
            <li>following</li>
            <li>stalking</li>
            <li>physical assault/battery</li>
            <li>inappropriate physical contact</li>
            <li>unwelcome physical attention</li>
            <li>unwelcome verbal/physical/visual conduct of a sexual nature</li>
            <li>sustained camp/event disruption</li>
        </ul>
        <p>Attendees asked to stop any harassing behavior are expected to comply <strong>immediately</strong>.</p>
        <h2>Consent</h2>
        <p>Consent is essential. &nbsp;Informed, enthusiastic consent is required for any activity. &nbsp;When intoxicated, an individual <strong>cannot legally consent</strong>. &nbsp;Nor can someone consent if they are unconscious. <strong>You can withdraw consent at <span style="text-decoration: underline;">any</span> moment you feel uncomfortable</strong>. Just because you consent one time does not mean you consent to any future act.</p>
        <h2>Reporting Harassment</h2>
        <p><strong>Anyone</strong> can report harassment. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a Security Volunteer immediately so that the matter can be handled in an expeditious manner.</p>
        <h2>Reporting Safety Concerns or Medical Emergencies</h2>
        <p>If you are having or witness a safety concern or medical emergency, seek out Medic or Security Volunteers <strong>immediately</strong>. <strong>Do not leave someone with an emergency alone</strong>. Instead instruct someone close by to track down Security or Medical Volunteers.</p>
        <h2>Staff Procedure for Handling Issues</h2>
        <p>Staff is dedicated to creating a <strong>fair and expedient</strong> means of dealing with <strong>any and all</strong> instances that are brought to our attention. &nbsp;All attendees will be given an opportunity to give their version of events before any action is taken by staff.&nbsp;</p>
        <p>After all the information regarding an incident is collected, staff will then decide on disciplinary action if such action is deemed necessary. &nbsp;Staff will decide on the appropriate course to take <strong>depending on the situation</strong>.</p>
        <p>Disciplinary action may include, depending on the severity of the incident:</p>
        <ul>
            <li>Mediation between involved parties</li>
            <li>Moving individual or groups to a different campsite</li>
            <li>Removal from Ragnarok</li>
            <li>Barred from attending future Ragnarok events</li>
        </ul>
        <p>If an incident that is reported to Staff involves violation of <strong>any local, state or federal laws</strong>, Staff <strong>will report the incident to the police</strong>.</p>
        <p>&nbsp;</p>
        <p>We all come here once a year to leave the real world at home and have an amazing week! We are a multifaceted community, all here for one purpose: to enjoy Dagorhir. With all of us together and with this goal in mind we ensure the growth and continuing traditions of this event.</p>
    </div>
</div>