
@{
    ViewBag.Title = "Ragnarok > Information > Event Rules";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok Event Rules</h1>
        <h2>General Event Rules</h2>
        <ul>
            <li>Cars are not allowed inside the campground after dark after the first Saturday of the event. &nbsp;This includes the last Saturday of the event.&nbsp; Failure to abide by this rule will result in your being removed from the event.</li>
            <li>Failure to abide by State and Federal laws will result in your being removed from the event and the police being called.</li>
        </ul>
        <h2>Fire Safety Rules</h2>
        <ul>
            <li>If you have a fire, you must have a fire extinguisher on hand.</li>
            <li>There must always be someone by the fire attending to it until there are only ashes remaining.</li>
            <li>Always have the fire in a fire ring (steel rings provided by Cooper's Lake, elevated fire pit, dug out hole with ring of rocks or metal, etc).</li>
            <li>Always have a bucket of water close by to put out stray embers and the fire when you leave.</li>
            <li>Do not use accelerants that are not intended to start fires.</li>
            <li>Do not put unopened cans into the fire (they will explode).</li>
            <li>Do not put non-combustable items in the fire (glass, batteries, propane cylinders, metal objects, etc).</li>
            <li>Do not light candles, tiki torches or anything else and leave them unattended.</li>
            <li>Do not leave candles, tiki torches or anything else burning inside your tent while not in it or when going to sleep.</li>
        </ul>
        <h2>Barbarian Trading Post Rules</h2>
        <ul>
            <li>No money is allowed to change hands.</li>
            <li>Handshakes are a finalized deal.</li>
            <li>ID must be checked for age-appropriate items (no tobacco, adult materials or weapons may be traded to a person who could not legally purchase the item from a store).</li>
            <li>Alcohol may not be traded at all, for any reason.</li>
            <li>If you are caught trading any items that are outlined on the list as contraband, it will be brought to the attention of staff and may cause you to be removed from Ragnarok (for example, if you trade a weapon to a minor).</li>
        </ul>
    </div>
</div>