
@{
    ViewBag.Title = "Ragnarok > Information > Land Grab";
}

<div class="row">
    <div class="col-12">
        <img alt="" src="/Images/camp.jpg" class="textImage" />
        <h1>Land Grab Information</h1>
        <h2>How Land Grab Works</h2>
        <p>Once Pre-Registration has ended, the Land Grab Master will order the camps by number of registered attendees. &nbsp;That order will determine the order in which Camp Masters will be assisted by the Land Grab staff.</p>
        <p>At the start of Land Grab, there will be a welcome meeting between the Land Grab staff and the Camp Masters. &nbsp;After the meeting has concluded, the camps will be broken into two groups:</p>
        <ol>
            <li>Camps who want the same land that they had the previous year</li>
            <li>Camps who want to be relocated to a new camping area or are new to Ragnarok</li>
        </ol>
        <p><span style="font-size: 13px;">The camps that wish to stay where they were last year will be assisted first, starting with the camp with the highest number of pre-registered attendees and ending with the camp with the lowest number of pre-registered attendees. &nbsp;The Camp Master will be sent to their camp site to set up their camp, or informed if there is any reason why they can't use the same camp site that year (for example, the Coopers have re-seeded the area or the area has been closed by Ragnarok). &nbsp;Any camps that are affected by a closure of their camping area will be put at the top of the relocation list.</span></p>
        <p><span style="font-size: 13px;">Once all the camps which are claiming the same camping space are done, Land Grab staff will begin with the list of camps which want to be relocated or are new. &nbsp;Once again, the order in which camps will be assisted by Land Grab staff will be starting with the camp with the highest number of pre-registered attendees and ending with the camp with the lowest number of attendees. &nbsp;A member of the Land Grab staff will go with the Camp Master to find a suitable location for the camp. &nbsp;It may take a while for this process to finish, and we ask for the patience of the waiting Camp Masters.</span></p>
        <p><span style="font-size: 13px;">Any camps which did not properly clean their area or were not checked out by Security the previous year will be penalized by being placed at the end of the Land Grab order and will forfeit any land they previously camped on.</span></p>
        <p><span style="font-size: 13px;">As a note, camping area will not be handed out solely by the pre-registration count of a camp. &nbsp;Each camp which desires the land that they had the previous year is assured that they will have that same land. &nbsp;However, camp attendance numbers rise and fall each year, and if you suspect you will need more space or not need as much space as you had the previous year, be courteous to your neighbors and work it out among yourselves.</span></p>
        <p><span style="font-size: 13px;">If your camp will be merging with another, or you know that you will be considerably larger or smaller than the previous year, you should take this into consideration when deciding if you want to stay in the same place or move to a new camping area. &nbsp;It is unreasonable to expect to displace another existing camp as a result of outgrowing your existing camping area. &nbsp;If possible, please talk to your neighbors from the previous year before arriving at Ragnarok to discuss your borders in order to avoid border disputes.</span></p>
    </div>
</div>