
@{
    ViewBag.Title = "Ragnarok > Information > Land Grab";
}

<div class="row">
    <div class="col-12">
        <h1>The Map of Ragnarok</h1>
        <p style="text-align: center;"><img src="/Images/sitemap.jpg" alt="Ragnarok Site Map" style="border: 3px solid #5c755e; vertical-align: middle;" /></p>
    </div>
</div>