
@{
    ViewBag.Title = "Ragnarok > Information > Code of Conduct";
}

<div class="row">
    <div class="col-12">
        <h1>Merchant Information</h1>
        <h2>Requirements for Being a Merchant at Ragnarok</h2>
        <p>In order to be a Merchant at Ragnarok, there are a number of requirements that must be fulfilled:</p>
        <p><strong>Tax License Information</strong></p>
        <p>Ragnarok Merchants must have a Pennsylvania tax license.&nbsp; Licenses must be applied for directly with the <a href="https://www.pa100.state.pa.us/" target="_blank">Commonwealth of Pennsylvania Department of Revenue</a>.</p>
        <p><strong>General Liability Insurance</strong></p>
        <p>Ragnarok Merchants must provide a certificate of insurance for their business.&nbsp; Insurance <strong>must</strong>&nbsp;include:</p>
        <ul>
            <li>
                Additional Insurance Endorsement which names:<br />
                <strong>
                    Cooper Lake Farms, Inc<br />
                    205 Currie Road<br />
                    Slippery Rock, PA 16057
                </strong>
            </li>
            <li>Each Occurrence Limit: $1,000,000.00</li>
            <li>General Aggregate: $2,000,000.00</li>
        </ul>
        <p><strong>Merchant Application</strong></p>
        <p>In order to be approved as a Ragnarok Merchant, each business wishing to do business at Ragnarok must completely fill out and return a <a href="https://docs.google.com/document/d/1FUAE_R8yXozP60OYdUSUlWQWRwBiqarTOyhCPpTTOJE/edit?usp=sharing" target="_blank">Ragnarok Merchant Application</a>.&nbsp; Applications are due <strong>no later than March 15th, 2019</strong>.&nbsp; Send completed applications to: <a href="mailto:merchants@dagorhirragnarok.com">merchants@dagorhirragnarok.com</a></p>
        <p>You can save the application in a number of formats by clicking File &gt; Download As in Google Docs.</p>
        <p>It's best to fill out the application on a computer so that item sections can be copied and pasted as needed, but applications can be filled out by hand, scanned and emailed.</p>
        <h2>Approval Process and Criteria for Being a Merchant at Ragnarok</h2>
        <p>Ragnarok is not a good place to debut as a merchant. &nbsp;The weather at Cooper&rsquo;s Lake during Ragnarok is unpredictable with high winds, driving rain, and excessive heat and cold which can test even seasoned store setups. &nbsp;The legal, insurance and strict rules requirements are much higher at Ragnarok than most other venues as well. That said, this does not automatically disqualify a new merchant.</p>
        <p>A diverse five-member jury of Ragnarok merchant peers will carefully review your application, weigh it against the acceptance criteria, and vote yes or no. &nbsp;Acceptance is based on a simple majority.</p>
        <p>The acceptance criteria this jury looks at are (in no particular order):</p>
        <ul>
            <li>Your ability to follow instructions, including on this application.</li>
            <li>Your history as a Dagorhir merchant and your role in the Dagorhir community.</li>
            <li>
                If your merchandise is a good fit for the event.
                <ul>
                    <li>For example, we would be unlikely to approve a merchant selling superhero costumes.&nbsp; Although many of the event's attendees may have interest in such merchandise, the merchandise does not fit the theme of the event.</li>
                </ul>
            </li>
            <li>
                If your merchandise is suitably different from other merchants' products.
                <ul>
                    <li>We strive to have as wide a variety of products as possible, and dedicating too much space to one particular type of product would negatively affect that.</li>
                </ul>
            </li>
            <li>The quality and value of your merchandise.</li>
            <li>Space available in Merchant's Row.</li>
            <li>Your professionalism.</li>
            <li>
                Whether you have a period store tent and your store's aesthetics.
                <ul>
                    <li>Please provide pictures of your store set up if available.</li>
                </ul>
            </li>
            <li>Your reputation as a merchant.</li>
            <li>Preference is given to makers over resellers.</li>
            <li>Preference is given to demonstration merchants.</li>
            <li>How well you get along with event staff and other merchants.</li>
        </ul>
    </div>
</div>