
@{
    ViewBag.Title = "Ragnarok > Information > Merchant List";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok XXXV Merchants</h1>
        <p>The final list of merchants for Ragnarok XXXV has not been finalized.  Please check back to see the list of merchants!</p>
    </div>
</div>