
@{
    ViewBag.Title = "Ragnarok > Information > Pricing";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok XXXV Pricing</h1>
        <p>Pricing for Ragnarok XXXV depends on whether the attendee is an adult or a child and their on-site arrival date.  Minors under 4 years of age are free to attend the event.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table style="color: #000000; letter-spacing: normal; border-style: none;">
            <tbody>
                <tr>
                    <td style="width: 200px; padding: 3px;">
                        <h2>Arrival Date</h2>
                    </td>
                    <td style="padding: 3px; width: 110px;">
                        <h2>Adult (18+)</h2>
                    </td>
                    <td style="padding: 3px; text-align: left;">
                        <h2>Children (4-17)</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px; text-align: left;">
                        <p>
                            Saturday (06/20/2020)<br>
                            Sunday (06/21/2020)<br>
                            Monday (06/22/2020)<br>
                            Tuesday (06/23/2020)<br>
                            Wednesday (06/24/2020)<br>
                            Thursday (06/25/2020)<br>
                            Friday (06/26/2020)<br>
                            Saturday (06/27/2020)
                        </p>
                    </td>
                    <td style="padding: 3px; text-align: left;">
                        <p>
                            $100.00<br>
                            $75.00<br>
                            $75.00<br>
                            $75.00<br>
                            $75.00<br>
                            $60.00<br>
                            $55.00<br>
                            $45.00
                        </p>
                    </td>
                    <td style="padding: 3px; text-align: left;">
                        <p>
                            $65.00<br>
                            $50.00<br>
                            $50.00<br>
                            $45.00<br>
                            $45.00<br>
                            $30.00<br>
                            $20.00<br>
                            $20.00
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>All prices are the total price of admission from the arrival date listed.</p>
    </div>
</div>