
@{
    ViewBag.Title = "Ragnarok > Registration";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok XXXV Pre-Registration</h1>
        <p>Pre-registration for Ragnarok XXXV has not opened yet.  Please check back later to pre-register!</p>
    </div>
</div>