
@{
    ViewBag.Title = "Ragnarok > Staff";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok XXXV Staff</h1>
        <h2>Ragnarok LLC Staff</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Event Coordinator</h2>
        <p>
            <img alt="" src="/Images/staff/janwin.jpg" style="border: 3px solid #5c755e;" /><br />
            Janwin<br />
            <a href="mailto:ec@dagorhirragnarok.com">ec@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Treasurer</h2>
        <p>
            <img alt="" src="/Images/staff/miach.jpg" style="border: 3px solid #5c755e;" /><br />
            Miach<br />
            <a href="mailto:treasurer@dagorhirragnarok.com">treasurer@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Accountant</h2>
        <p>
            <img alt="" src="/Images/staff/tannhauser.jpg" style="border: 3px solid #5c755e;" /><br />
            Tannha&uuml;ser<br />
            <a href="mailto:accountant@dagorhirragnarok.com">accountant@dagorhirragnarok.com</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Ragnarok Event Staff</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Head of Troll</h2>
        <p>
            <img alt="" src="/Images/staff/lesair.jpg" style="border: 3px solid #5c755e;" /><br />
            Lasair<br />
            <a href="mailto:troll@dagorhirragnarok.com">troll@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Head of Public Safety</h2>
        <p>
            <img alt="" src="/Images/staff/redraven.jpg" style="border: 3px solid #5c755e;" /><br />
            Red Raven<br />
            <a href="mailto:safety@dagorhirragnarok.com">safety@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Head Medic</h2>
        <p>
            <img alt="" src="/Images/staff/sophia.jpg" style="border: 3px solid #5c755e;" /><br />
            Sophia<br />
            <a href="mailto:medics@dagorhirragnarok.com">medics@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Day Events Coordinator</h2>
        <p>
            <img alt="" src="/Images/staff/hamish.jpg" style="border: 3px solid #5c755e;" /><br />
            Hamish<br />
            <a href="mailto:dayevents@dagorhirragnarok.com">dayevents@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Head of Weapons Check</h2>
        <p>
            <img alt="" src="/Images/staff/illisai.jpg" style="border: 3px solid #5c755e;" /><br />
            Illisai<br />
            <a href="mailto:weaponscheck@dagorhirragnarok.com">weaponscheck@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Night Events Coordinator</h2>
        <p>
            <img alt="" src="/Images/staff/drakekin.jpg" style="border: 3px solid #5c755e;" /><br />
            Drakekin<br />
            <a href="mailto:nightevents@dagorhirragnarok.com">nightevents@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Dean of Ragnarok University</h2>
        <p>
            <img alt="" src="/Images/staff/valkyrie.jpg" style="border: 3px solid #5c755e;" /><br />
            Valkyrie<br />
            <a href="mailto:raguniversity@dagorhirragnarok.com">raguniversity@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>Merchant Coordinator</h2>
        <p>
            <img alt="" src="/Images/staff/adrius.jpg" style="border: 3px solid #5c755e;" /><br />
            Adrius<br />
            <a href="mailto:merchants@dagorhirragnarok.com">merchants@dagorhirragnarok.com</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Ragnarok Event Staff</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 text-center">
        <h2>RWC Chair</h2>
        <p>
            <img alt="" src="/Images/staff/dominus.jpg" style="border: 3px solid #5c755e;" /><br />
            Dominus<br />
            <a href="mailto:rwcchair@dagorhirragnarok.com">rwcchair@dagorhirragnarok.com</a>
        </p>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <h2>RWC Secretary</h2>
        <p>
            <img alt="" src="/Images/staff/noroko.jpg" style="border: 3px solid #5c755e;" /><br />
            Noroko<br />
            <a href="mailto:rwcsecretary@dagorhirragnarok.com">rwcsecretary@dagorhirragnarok.com</a>
        </p>
    </div>
</div>