
@{
    ViewBag.Title = "Ragnarok > Schedule";
}

<div class="row">
    <div class="col-12">
        <h1>Ragnarok XXXV Event Schedule</h1>
        <p>The schedule for Ragnarok XXXV has not been finalized yet.  Please check back later for the schedule!</p>
    </div>
</div>